
Horizontal {
    layout: horizontal;
    height: 1fr;
}

DirectoryTree {
    width: 30;
    border: solid $primary;
    margin-right: 1;
}

Vertical {
    width: 1fr;
    height: 1fr;
}

ContentSwitcher {
    width: 100%;
    height: 1fr;
}

#loading {
    align: center middle;
    width: 100%;
    height: 100%;
    border: solid $primary;
}

RichLog {
    width: 100%;
    height: 100%;
    border: solid $primary;
}

#debug-log {
    width: 100%;
    height: 8;
    border: solid $warning;
    background: $surface;
}

.debug-panel {
    border-title-align: left;
    border-title-color: $warning;
}
